
<div class="loginColumns animated">
        <div class="row text-white login-container">

            <div class="col-md-6">
                <h2 class="font-bold margin-top-0">Welcome to Experion BOT Dashboard</h2>

                <p>
                    <small>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.</small>
                </p>

                <p>
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</small>
                </p>

                <p>
                    <small>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</small>
                </p>

                <p>
                    <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
                </p>

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" name="loginForm" ng-submit="lc.doLogin(loginForm.$valid)" novalidate>
                        
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" placeholder="Email" ng-model="lc.formData.email" ng-minlength="6" required>
                            <p ng-show="loginForm.formData.email.$invalid && !loginForm.formData.email.$pristine" class="help-block">A valid email is required.</p>

                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" placeholder="Password" ng-model="lc.formData.password" ng-minlength="6" required>
                            <p ng-show="loginForm.formData.password.$error.minlength" class="help-block">Password is too short.</p>
                        </div>

                        <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="loginForm.$invalid">Login</button>

                        <a href ui-sref="forgotpassword"><small>Forgot password?</small></a>
                       
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row text-white">
            <div class="col-md-6">
                Experion Technologies
            </div>
            <div class="col-md-6 text-right">
               <small>&copy; 2016-2017</small>
            </div>
        </div>
    </div>